<h1>Reserves#new</h1>
<p>Find me in app/views/reserves/new.html.erb</p>


<p>予約機能がうまくいっているかの確認</p>
<%= form_with model: @reserve, url: reserf_path(:id), local:true do |f| %>
  <p>開始日</p>
  <p><%= @reserve.start_date %></p>
<% end %>

<%= form_for @reserve do |f| %>
  <%= @reserve.start_date %>

  <%= f.label :予約開始日 %>
  <%= f.date_field :start_date %>
 

  <%= f.label :予約終了 %>
  <%= f.date_field :end_date %>

  <%= f.label :人数 %>
  <%= f.number_field :people %>

  <%= f.label :使用日数 %>
  <%= @days %>


  <%= f.label :合計金額 %>


  <%= f.submit %>
  
  

  <% end %>