<p>アイコン画像</p>

<% if @user.user_img.attached? %>
  <%= image_tag current_user.user_img, size: '80x80' %>
<% else %>  
  <%= image_tag "no_image.png", size: '80x80' %>
<% end %>


<div class = user_show>
  <ul>
    <li>
      <p>名前</p>
      <%= @user.user_name %>
    </li>
    <li>
      <p>メール</p>
      <%= @user.email %>
    </li>
    <li>
      <p>プロフィール</p>
      <%= @user.profile %>
    </li>
  </ul>
</div>

<%= link_to "編集" ,edit_user_path(@user), class: "user_edit_link" %>
