<p>アイコン画像</p>


<% if User.where.not(user_img: [nil, '']) %>
      <%= image_tag @user.user_img, size: '80x80' %>
    <% else %>
      <%= image_tag "no_image.png", size: '80x80' %>
<% end %>



<ul>
<li>
<p>名前</p>
<%= @user.user_name %>
</li>

<li>

<p>メール</p>
<%= @user.email %>
</li>

<li>
<p>プロフィール</p>
<%= @user.profile %>
</li>


</ul>

<%= link_to "編集" ,edit_user_path(@user) %>
